.bg-orange {
    background-color: var(--orange-400);
}
.text-orange {
    color: var(--orange-400);
}
.bg-cyan-600 {
    background-color: var(--cyan-600);
}
.text-cyan-600 {
    color: var(--cyan-600);
}
.bg-cyan-800 {
    background-color: var(--cyan-800);
}
.text-cyan-800 {
    color: var(--cyan-800);
}